<header id="main-header">
  <div id="logo">
    <a href="/">Math Olympiad</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/problems">Problems</a>
      </li>
      <li>
        <a href="/new-problem">Create</a>
      </li>
    </ul>
  </nav>
</header>